<div class="container-fluid text-center mt-5">
    <div class="row">
        <div class="col">
            <h3>New User Creation</h3>
        </div>
    </div>
    <form class="login-form">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Enter a FirstName</mat-label>
                    <button mat-icon-button matPrefix><i class="bi bi-person"></i></button>
                    <input matInput type="text" placeholder="Enter a First Name" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Enter a LastName</mat-label>
                    <button mat-icon-button matPrefix><i class="bi bi-person"></i></button>
                    <input matInput type="text" placeholder="Enter a Last Name" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Enter a Mobile No</mat-label>
                    <button mat-icon-button matPrefix><i class="bi bi-phone"></i></button>
                    <input matInput type="tel" placeholder="Enter a Mobile No" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter a Email</mat-label>
                    <button mat-icon-button matPrefix><i class="bi bi-envelope"></i></button>
                    <input matInput type="email" placeholder="Enter a Email" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <button mat-icon-button matPrefix><i class="bi bi-key"></i></button>
                    <input matInput type="password" placeholder="Enter the Password" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <button mat-icon-button matPrefix><i class="bi bi-key"></i></button>
                    <input matInput type="password" placeholder="Enter the Password" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">State</div>
            <div class="col">Country</div>
            <div class="col">City</div>
        </div>
    </form>
</div>
