/* You can add global styles to this file, and also import other style files */

// @import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

html, body { height: 100%; background-color: #424242; color: #FFF; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-card {
    position: absolute !important;
    left: 475px;
    top: 235px;
    height: 180px;
    box-shadow: 0px 2px 1px 3px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}
.custom-footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50px;
    padding: 10px 10px;
    .copyright-custom {
        float: inline-end;
    }
}