/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.login-form {
    background: bisque;
    margin: 6% 35%;
    padding: 20px 10px;
    border-radius: 15px;
}
.cursor-pointer { cursor: pointer;}